.banner {
  background-image: url(../../../../assets/imagens/maquina-de-lavar.webp);
  background-size: cover;
  height: 100vh;
  display: flex;
  padding: 1em;
}

.conteudo-banner {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  color: white;
}

.conteudo-banner > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(116, 114, 114, 0.705)
  );
  border-radius: 10px;
  padding: 10px 10px 10px 0;
  font-size: 20px;
}

.conteudo-banner > div > p {
  margin: 10px 0;
}

.button-saiba-mais {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-saiba-mais:hover {
  color: #ffbb22;
}

@media (max-width: 850px) {
  .conteudo-banner {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .conteudo-banner {
    width: 100%;
  }
}
